@model List<Person>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
@*                <th>ID</th>*@
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Grade"]</th>
                <th>@Localizer["ProjectTeam"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Person p in Model ?? Enumerable.Empty<Person>())
            {
                <form asp-action="delete" method="post" asp-route-id="@p.PersonId">
                    <tr class="">
@*                        <td>@p.PersonId</td>*@
                        <td>@p.LastName, @p.FirstName</td>
                        <td>
                            @p.Grade?.GradeName
                        </td>
                        <td>
                            Placeholder
                        </td>
                        <td class="text-center">
                            <form>
                                <input type="hidden" name="Id" value="@p.PersonId" />
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@p.PersonId" >@Localizer["Details"]</a>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@p.PersonId" >@Localizer["Edit"]</a>
                                <button type="submit" class="btn btn-sm btn-danger">@Localizer["Delete"]</button>
                            </form>
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary p-2" asp-action="Create" >@Localizer["Create"]</a>
</div>