@model List<ProjectTeam>
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedListResource> ListLocalizer

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["ProjectName"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(ProjectTeam proj in Model ?? Enumerable.Empty<ProjectTeam>())
            {
                <form asp-action="Delete" method="post" asp-route-id="@proj.ProjectTeamId">
                    <tr class="">
                        <td>@proj.ProjectTeamName</td>
                        <td class="text-center">
                            <form>
                                <input type="hidden" name="Id" value="@proj.ProjectTeamId" />
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@proj.ProjectTeamId" >@ListLocalizer["Details"]</a>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@proj.ProjectTeamId" >@ListLocalizer["Edit"]</a>
                                <button type="submit" class="btn btn-sm btn-danger">@ListLocalizer["Delete"]</button>
                            </form>
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary p-2" asp-action="Create" >@ListLocalizer["Create"]</a>
</div>