@model UserMemberEditFormVM
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedListResource> ListLocalizer
@inject IHtmlLocalizer<SharedEditFormResource> EditFormLocalizer
@inject IProjectTeamRepository _projectTeamRepository

<h5 class="bg-@Model.Theme text-white text-center p-2  rounded-top">@(Model.SelectedItem.UserName + " " + Model.SelectedItem.Email)</h5>
<div class="col-sm">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Projects"]</th>
                @if (@Model.Mode == FormMode.Edit || @Model.Mode == FormMode.Process)
                {
                        <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (ProjectTeam pt in Model.ProjectTeams ?? new List<ProjectTeam>())
            {
                <tr class="">
                    <td>
                        @pt.ProjectTeamName                                                                            
                    </td>
                    @if (@Model.Mode == FormMode.Edit || @Model.Mode == FormMode.Process)
                    {
                        <td class="text-center">
                            <form asp-action="DeleteMembership" method="post" asp-route-ptId="@pt.ProjectTeamId", asp-route-userId="@Model.SelectedItem.Id">
                                <button type="submit" class="btn btn-sm btn-danger" hidden="@Model.IsReadonly">@ListLocalizer["Delete"]</button>
                            </form>
                        </td>                           
                    }
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-secondary mt-2" asp-action="UserProjectMemberList">@EditFormLocalizer["Back"]</a>
    <p></p>
    <form asp-action="AddMembership" method="post" hidden="@Model.IsReadonly" asp-route-userId="@Model.SelectedItem.Id">
        <div class="form-group">
            <label>@Localizer["ProjectTeams"]</label>
            <div>
                <span asp-validation-for="SelectedItem.Id" class="text-danger"></span>
            </div>
            <select asp-for="NewProjectTeamId" class="form-control" asp-items="@(new SelectList(_projectTeamRepository.GetAllTeams(), "ProjectTeamId", "ProjectTeamName"))" disabled="@Model.IsReadonly">
                <option value="" disabled selected>@Localizer["ChooseAProjectTeam"]</option>
            </select>
        </div>
        <button class="btn btn-primary mt-2" type="submit">
            @Localizer["AddMembership"]
        </button>
    </form>
</div>