@model List<UserProjectMemberDTO>
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedListResource> ListLocalizer

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Username"]</th>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["Projects"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(UserProjectMemberDTO up in Model ?? Enumerable.Empty<UserProjectMemberDTO>())
            {
                <tr class="">
                    <td>@up.UserName</td>
                    <td>@up.Email</td>
                    <td>@up.Projects</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@up.UserId" >@ListLocalizer["Details"]</a>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@up.UserId" >@ListLocalizer["Edit"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>