@inject IAuthService _authService
@model SimpleEditFormVM<UserDTO>
@inject IViewLocalizer Localizer
<partial name="_Validation"></partial>

<h5 class="bg-@Model.Theme text-white text-center p-2 rounded-top">@Localizer[Model.Mode.ToString()]</h5>
<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <form asp-action="@Model.Mode" method="post">
        @if (@Model.Mode == FormMode.Edit)
        {
            <div class="form-group" hidden>
                <label asp-for="SelectedItem.Id"></label>
                <input class="form-control" asp-for="SelectedItem.Id" readonly/>
            </div>        
        }
        <div class="form-group">
            <label asp-for="SelectedItem.UserName">@Localizer["UserName"]</label>
            <div>
                <span asp-validation-for="SelectedItem.UserName" class="text-danger"></span>
            </div>
            <input class="form-control" asp-for="SelectedItem.UserName" disabled="@Model.IsReadonly"/>
        </div>
        <div class="form-group">
            <label asp-for="SelectedItem.Email">@Localizer["Email"]</label>
            <div>
                <span asp-validation-for="SelectedItem.Email" class="text-danger"></span>
            </div>
            <input class="form-control" asp-for="SelectedItem.Email" disabled="@Model.IsReadonly"/>
        </div>
        @if (@Model.Mode == FormMode.Create)
        {
            <div class="form-group">
                <label asp-for="SelectedItem.Password">@Localizer["Password"]</label>
                <div>
                    <span asp-validation-for="SelectedItem.Password" class="text-danger"></span>
                </div>
                <input class="form-control" type="password" asp-for="SelectedItem.Password" disabled="@Model.IsReadonly"/>
            </div>           
        }
        <div class="form-group">
            <label>@Localizer["Role"]</label>
            <div>
                <span asp-validation-for="SelectedItem.RoleId" class="text-danger"></span>
            </div>
            <select asp-for="SelectedItem.RoleId" class="form-control" asp-items="@(new SelectList(await _authService.GetRoleListAsync(), "RoleId", "RoleName"))" disabled="@Model.IsReadonly">
                <option value="" disabled selected>@Localizer["ChooseRole"]</option>
            </select>
        </div>

        @if (Model.Mode != tl121pet.Storage.FormMode.Details)
        {
            <button class="btn btn-info mt-2" type="submit">
                @Localizer["Save"]
            </button>       
        }
        <a class="btn btn-secondary mt-2" asp-action="UserList">@Localizer["Back"]</a>
        <a class="btn btn-warning mt-2" asp-action="OldChangePassword" asp-route-userId="@Model.SelectedItem.Id">@Localizer["ChangePassword"]</a>
    </form>
</div>