@inject IGradeRepository _gradeRepository
@model List<OneToOneDeadline>
@inject IViewLocalizer Localizer

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Person"]</th>
                <th>@Localizer["Grade"]</th>
                <th>@Localizer["LastOneToOne"]</th>
                <th>@Localizer["Deadline"]</th>
                <th>@Localizer["DaysToDeadline"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OneToOneDeadline dl in Model ?? Enumerable.Empty<OneToOneDeadline>())
            {
                <tr class="bg @coloringAlertLevel[dl.AlertLVL]">
                    <td>@dl.Person.LastName @dl.Person.FirstName @dl.Person.SurName</td>
                    <td>@_gradeRepository.GetGradeName(dl.Person.GradeId)</td>
                    <td>@dl.LastMeetingOneToOne.MeetingDate?.ToString("dd.MM.yyyy")</td>
                    <td>@(dl.LastOneToOneMeetingDate.AddMonths(1).ToString("dd.MM.yyyy"))</td>
                    <td>@dl.DayToDeadline</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary p-2" asp-action="Create" asp-controller="Meeting">@Localizer["Create"]</a>
</div>

@functions{
    private Dictionary<AlertLevel, string> coloringAlertLevel = new Dictionary<AlertLevel, string>
    {
        { AlertLevel.None,  "" },
        { AlertLevel.Low, "bg-info" },
        { AlertLevel.Normal, "bg-warning" },
        { AlertLevel.High, "bg-danger" },
    };
}