@inject IGradeRepository _gradeRepository
@model List<OneToOneDeadline>
@{
    ViewData["Title"] = "Meeting Type";
}

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Person</th>
                <th>Grade</th>
                <th>Last 1-2-1</th>
                <th>DeadLine</th>
            </tr>
        </thead>
        <tbody>
            @foreach(OneToOneDeadline dl in Model ?? Enumerable.Empty<OneToOneDeadline>())
            {
                <tr class="bg @((dl.LastOneToOneMeetingDate.AddMonths(1).Date <= DateTime.Now.Date || dl.LastMeetingOneToOne.MeetingDate == null) ? "bg-danger" : "" )">
                    <td>@dl.Person.LastName @dl.Person.FirstName @dl.Person.SurName</td>
                    <td>@_gradeRepository.GetGradeName(dl.Person.GradeId)</td>
                    <td>@dl.LastMeetingOneToOne.MeetingDate</td>
                    <td>@(dl.LastOneToOneMeetingDate.AddMonths(1))</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary p-2" asp-action="Create" asp-controller="Meeting">Create</a>
</div>