@model TaskListVM
@inject IViewLocalizer Localizer
@inject IPersonService _personService

<form asp-action="TaskList">
    <select asp-for="@Model.PersonId" class="form-control" asp-items="@(new SelectList(await _personService.GetInitialsAsync(), "PersonId", "Initials"))">
        <option value="" disabled selected>@Localizer["ChooseAPerson"]</option>
    </select>
    <button type="submit" class="btn btn-sm btn-primary p-2 mt-2">@Localizer["Filter"]</button>
    <a class="btn btn-sm btn-success p-2 mt-2" asp-action="TaskList" >@Localizer["Clear"]</a>
</form> 
<p></p>
<div class="container">               
    <div class="row">
        <partial name="UncompletedTaskList"/>
    </div>
</div>
