@model TaskListVM
@inject IViewLocalizer Localizer
  
<div class="col-sm">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Person"]</th>
                <th>@Localizer["Goals"]</th>
                <th>@Localizer["GoalsCompleteDescription"]</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TaskDTO t in Model.Tasks.Where(p => p.IsCompleted == false))
            {
                <tr>
                    <form asp-action="CompleteGoal" 
                        method="post" 
                        asp-route-goalId="@t.MeetingGoalId"
                        asp-route-personId="@Model.PersonId"
                    >
                        <td>
                            <input class="form-control" asp-for="@t.PersonName" name="PersonName" disabled=true/>                                                                            
                        </td>
                        <td>
                            <input class="form-control" asp-for="@t.MeetingGoalDescription" name="MeetingGoalDescription" disabled=true/>                                                                            
                        </td>
                        <td>
                            <input class="form-control" asp-for="@t.CompleteDescription" name="CompleteDescription"/>                                                                            
                        </td>
                        <td>
                            <input class="checkbox" asp-for="@t.IsCompleted" name="IsCompleted" disabled=true/>                                                                            
                        </td>
                        <td><button type="submit" class="btn btn-sm btn-info">@Localizer["Complete"]</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>