@model NoteEditListVM
@inject IMeetingService _meetingService
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedListResource> ListLocalizer
@inject IHtmlLocalizer<SharedEditFormResource> EditFormLocalizer

<div class="col-sm">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Disscution"]</th>
                <th>@Localizer["FeedbackRequired"]</th>
                @if (@Model.Mode == FormMode.Edit || @Model.Mode == FormMode.Process)
                {
                        <th></th>
                        <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (MeetingNote mn in await _meetingService.GetMeetingNotesAsync(Model.SelectedItem) ?? new List<MeetingNote>())
            {
                    <tr class="">
                        <form asp-action="UpdateNote" method="post"
                            asp-route-noteId="@mn.MeetingNoteId",
                            asp-route-meetingId="@mn.MeetingId">
                                <td>
                                    <input class="form-control" asp-for="@mn.MeetingNoteContent" name="MeetingNoteContent" disabled="@(Model.Mode != FormMode.Process)"/>                                                                            
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="@mn.FeedbackRequired" name="FeedbackRequired" disabled="@(Model.Mode != FormMode.Process)">                                
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-info" hidden="@Model.IsReadonly" disabled="@(Model.Mode != FormMode.Process)">
                                        @ListLocalizer["Modify"]
                                    </button>
                                </td>
                        </form>
                        <td class="text-center">
                            <form asp-action="DeleteNote" method="post" asp-route-noteId="@mn.MeetingNoteId", asp-route-meetingId="@mn.MeetingId">
                                <button type="submit" class="btn btn-sm btn-danger" hidden="@Model.IsReadonly" disabled="@(Model.Mode != FormMode.Process)">
                                    @ListLocalizer["Delete"]
                                </button>
                            </form>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    <form asp-action="AddNote" method="post" hidden="@Model.IsReadonly">
        <input class="form-control" asp-for="SelectedItem" disabled="@Model.IsReadonly" hidden/>
        <input class="form-control" asp-for="NewNote" disabled="@Model.IsReadonly" disabled="@(Model.Mode != FormMode.Process)"/>
        <input class="form-check-input mt-3 mb-3" asp-for="NewNoteFeedbackRequires" disabled="@(Model.Mode != FormMode.Process)"/>
        <label class="mt-3">@Localizer["FeedbackRequired"]</label>
        <p></p>
        <button class="btn btn-primary mt-2" type="submit" disabled="@(Model.Mode != FormMode.Process)">
            @Localizer["AddNote"]
        </button>
    </form>
</div>