@model GoalEditListVM
@inject IMeetingRepository _meetingRepository
@inject IViewLocalizer Localizer

<div class="col-sm">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>@Localizer["Goals"]</th>
                @if (@Model.Mode == FormMode.Edit || @Model.Mode == FormMode.Process)
                {
                        <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (MeetingGoal mg in _meetingRepository.GetMeetingGoals(Model.SelectedItem) ?? Enumerable.Empty<MeetingGoal>())
            {
                <tr>
                    <form asp-action="UpdateGoal" method="post"
                        asp-route-goalId="@mg.MeetingGoalId",
                        asp-route-meetingId="@mg.MeetingId">
                            <td>
                                <input class="form-control" asp-for="@mg.MeetingGoalDescription" name="MeetingGoalDescription"/>                                                                            
                            </td>
                            <td><button type="submit" class="btn btn-sm btn-info" hidden="@Model.IsReadonly">@Localizer["Modify"]</button></td>
                    </form>
                    <td class="text-center">
                        <form asp-action="DeleteGoal" method="post" asp-route-noteId="@mg.MeetingGoalId", asp-route-meetingId="@mg.MeetingId">
                            <button type="submit" class="btn btn-sm btn-danger" hidden="@Model.IsReadonly">@Localizer["Delete"]</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="AddGoal" method="post" hidden="@Model.IsReadonly">
        <input class="form-control" asp-for="SelectedItem" disabled="@Model.IsReadonly" hidden/>
        <input class="form-control" asp-for="NewGoal" disabled="@Model.IsReadonly"/>
        <button class="btn btn-primary mt-2" type="submit">
            @Localizer["AddGoal"]
        </button>
    </form>
</div>