@model SimpleEditFormVM<Role>
@inject IViewLocalizer Localizer
<partial name="_Validation"></partial>

<h5 class="bg-@Model.Theme text-white text-center p-2 rounded-top">@Localizer[Model.Mode.ToString()]</h5>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <form asp-action="@Model.Mode" method="post">
        @if (@Model.Mode == FormMode.Edit)
        {
            <div class="form-group" hidden>
                <label asp-for="SelectedItem.RoleId"></label>
                <input class="form-control" asp-for="SelectedItem.RoleId" readonly />
            </div>        
        }
        <div class="form-group">
            <label asp-for="SelectedItem.RoleName">@Localizer["RoleName"]</label>
            <div>
                <span asp-validation-for="SelectedItem.RoleName" class="text-danger"></span>
            </div>
            <input class="form-control" asp-for="SelectedItem.RoleName" disabled="@Model.IsReadonly">
        </div>

        @if (Model.Mode != tl121pet.Storage.FormMode.Details)
        {
            <button class="btn btn-info mt-2" type="submit">
                @Localizer["Save"]
            </button>       
        }
        <a class="btn btn-secondary mt-2" asp-action="RoleList">@Localizer["Back"]</a>
    </form>
</div>