@inject IViewLocalizer Localizer

<div class="d-grid gap-2">
    <a class="btn @("Home" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="Index"
        asp-controller="Home">
            @Localizer["Home"]
    </a>
    <a class="btn @("OneToOneDeadline" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="OneToOneDeadlineList"
        asp-controller="OneToOneDeadline">
            @Localizer["OneToOneDeadlines"]
    </a>
    <a class="btn @("Person" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="PeopleList"
        asp-controller="Person">
            @Localizer["Persons"]
    </a>
    <a class="btn @("Meeting" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="MeetingList" 
        asp-controller="Meeting">
            @Localizer["Meetings"]
    </a>
    <a class="btn @("MeetingType" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="MeetingTypeList" asp-controller="MeetingType">
            @Localizer["MeetingTypes"]
    </a>
    <a class="btn @("Grade" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="GradeList" asp-controller="Grade">
            @Localizer["Grade"]
    </a>
    <a class="btn @("Role" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="RoleList" asp-controller="Role">
            @Localizer["Role"]
    </a>
    <a class="btn @("User" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="UserList" asp-controller="User">
            @Localizer["User"]
    </a>
    <a class="btn @("ProjectTeam" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="ProjectTeamList" asp-controller="ProjectTeam">
            @Localizer["ProjectTeam"]
    </a>
    <a class="btn @("PersonProjectMembership" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="PersonProjectMemberList" asp-controller="PersonProjectMembership">
            @Localizer["ProjectMember"]
    </a>    
    <a class="btn @("UserProjectMembership" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="UserProjectMemberList" asp-controller="UserProjectMembership">
            @Localizer["UserProjectMember"]
    </a>
</div>