<div class="d-grid gap-2">
    <a class="btn @("Home" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="Index"
        asp-controller="Home">
            Home
    </a>
    <a class="btn @("OneToOneDeadline" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="OneToOneDeadlineList"
        asp-controller="OneToOneDeadline">
            1-2-1 Deadlines
    </a>
    <a class="btn @("Person" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="PeopleList"
        asp-controller="Person">
            Persons
    </a>
    <a class="btn @("Meeting" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="MeetingList" 
        asp-controller="Meeting">
            Meetings
    </a>
    <a class="btn @("MeetingType" == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
        asp-action="MeetingTypeList" asp-controller="MeetingType">
            Meeting Types
    </a>
</div>